{% extends 'base.html.twig' %}

{% block title %}Nouveau Contact{% endblock %}

{% block body %}
    <div class="container-lg">
    <h1>Créer un nouveau contact</h1>
    <hr/>
        {{ include('contact/_form.html.twig') }}
    </div>
{% endblock %}
